body {
    padding-bottom: 40px;
}

img {
    max-width: 100%;
    height: auto;
}
header {
    background: #e3e3e3;
    margin-bottom: 30px;
    padding: 30px;
}

.admin-logo {
    font-size: 25px;
}

h1 {
    margin-bottom: 30px;
}

.create-spaceship {
    margin-bottom: 30px;
}
/* RECENT */

.recent__list {
    padding: 0;
    list-style-type: none;
}
.recent__item {
    margin-bottom: 10px;
}

.recent__link {
    display: inline-block;
    float: left;
    font-size: 18px;
    margin-right: 10px;
}

.recent__edit,
.recent__remove{
    font-size: 25px;
}

.recent__edit {
    margin-right: 10px;
    float: left;
}

.recent__edit:hover,
.recent__remove:hover {
    text-decoration: none;
}

.recent__remove {
    font-size: 13px;
}


/* ADMIN FORM */
.admin-form__img {
    max-width: 300px;
}

.admin-carousel-container .form-group {
    position: relative;
}
.admin-carousel-container .delete-image {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.add-image-form {
    display: inline-block;
    font-size: 25px;
    color: forestgreen;
    cursor: pointer;
    margin-bottom: 20px;
}






