/**
* ----------------------------------------------------------------------------------------------------
* FONTS
* ----------------------------------------------------------------------------------------------------
*/

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('/fonts/HelveticaNeue.woff') format('woff'),
		url('/fonts/HelveticaNeue.ttf')  format('truetype'),
		url('/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('/fonts/HelveticaNeue-Light.eot?') format('eot'),
	     url('/fonts/HelveticaNeue-Light.woff') format('woff'),
	     url('/fonts/HelveticaNeue-Light.ttf')  format('truetype'),
	     url('/fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
	     font-weight: 300;
	     font-style: normal;
}

@font-face {
    font-family: 'dejavu';
    src: url('/fonts/dejavusans.eot');
    src: url('/fonts/dejavusans.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dejavusans.woff') format('woff'),
         url('/fonts/dejavusans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/**
* ----------------------------------------------------------------------------------------------------
* VARIABLES
* ----------------------------------------------------------------------------------------------------
*/

$white: #fff;
$black: #566268;
$gray: #7E7E7E;
$gray-light: #EAEAEA;
$main: #566268;
$helvetica: "HelveticaNeue", Arial, sans-serif;


/**
* ----------------------------------------------------------------------------------------------------
* Mixins
* ----------------------------------------------------------------------------------------------------
*/



/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
	display: inline-block;
}


// Stcky Footer
html, body {
	height: 100%;
}

body {
	font-family: $helvetica;
	background:#F4F4F4;
}

.wrap {
	overflow: hidden;
	min-height: 100%;
	margin-bottom: -150px;
}

.wrap:after {
	content: "";
	display: block;
}

.footer, .wrap:after {
	height: 150px;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3 {
	color: $main;
}

h3 {
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 30px;
	font-family: 'dejavu';

}