@import "reset.scss";
@import "bootstrap.scss";
@import "main.scss";
@import 'slick.scss';
@import 'slick-theme.scss';

/**
***************************************************************
* =HEADER
***************************************************************
**/

/* main-page header */
.header--main-page {
    margin-bottom: 20px;
    background: url(/img/main_header_bg.jpg) no-repeat;
    background-size: cover;
}

/* Logo */
.logo-container {
	position: relative;
}

.logo {
	text-align: center;

	a {
		color: #fff;
	}
}

/* Pages Logo */
.logo--pages {
	text-align: left;

	a {
		color: $main;
	}
}

/* Main Navigaiton */
.main-nav {
	float: right;
	margin-top: 20px;
	margin-bottom: 50px;
}

.main-nav__item {
	float: left;
	margin-right: 20px;
}

.main-nav__item:last-child {
	margin-right: 0;
}

.main-nav__link {
	padding-bottom: 10px;
	color: #fff;
	font-size: 18px;
	border-bottom: 1px solid transparent;
	transition: border-color .3s;

	&:--link-effect {
		color: #fff;
		text-decoration: none;
		border-color: rgba(255, 255, 255, .3);
	}
}

.hamburger-btn {
	display: none;
	position: absolute;
	top: 27px;
	right: 20px;
	cursor: pointer;
	z-index: 5;

	&:hover span:nth-child(1) {
		top: -2px;
	}

	&:hover span:nth-child(3) {
		top: 2px;
	}
}

.hamburger-btn--pages {
	.hamburger-btn__line {
		background: $main;
	}
}

.hamburger-btn__line {
	top: 0;
	position: relative;
	display: block;
	margin-bottom: 5px;
	width: 40px;
	height: 5px;
	background: $white;
	transition: top .1s;
}

.main-nav__close {
	display: none;
    width: 40px;
    height: 40px;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 60px;
	cursor: pointer;

	&:before, &:after  {
		content:'';
		position: absolute;
		background: #fff;
		width: 3px;
		height: 45px;
	}

	&:after {
		top: 0;
		left: 18px;
		transform: rotate(-45deg);
	}

	&:before {
		top: 0;
		left: 18px;
		transform: rotate(45deg);
	}
}

/* Pages Navigation */
.main-nav--pages {
	.main-nav__link {
		color: #566268;

		&:hover {
			color: #566268;
			border-color: rgba(86, 98, 104, .3);
		}
	}
}

/* Search Form */
.search {
	width: 80%;
	margin: 0 auto 40px;
	padding: 15px 20px;
	text-align: center;
	background: rgba(0,0,0, .6);
	border-radius: 10px;
}

.search__desc {
	margin-bottom: 15px;
	font-size: 32px;
	color: #EAEAEA;
}

.search-input-container {
	position: relative;
}

.search__input {
	width: 100% !important;
	height: 50px !important;
	padding-left: 25px;
	padding-right: 50px;
    font-size: 21px;
	border: 1px solid #979797;

	&:focus {
		border: 1px solid #5E72EC;
	}
}

.search__submit {
	position: absolute;
	top: 6px;
	right: 5px;
	outline: none;
	color: #7E7E7E;
	background: none;
	border: none;
	font-size: 31px;
}

/**
***************************************************************
* =MAIN
***************************************************************
**/

// Recent items
.recent {
	margin-bottom: 30px;
}

.recent__item {
	width: 23%;
	margin: 10px;
	overflow: hidden;

	&:hover .recent__name {
		left: 0;
	}

	&:hover .recent__image {
		transform: scale(1.2);
	}
}

.recent__link {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.recent__name {
	position: absolute;
	display: block;
	top: 10%;
	left: 100%;
	width: 100%;
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 10px;
	background: rgba(0,0,0, .8);
	transition: left .4s;
}

.recent__image {
	transition: all .5s;
}

/**
***************************************************************
* =DETAIL PAGE
***************************************************************
**/
.detail-container {
    padding-bottom: 40px;
}
.detail-image-container {
    margin-bottom: 20px;
}

.detail__name {
    margin-bottom: 15px;
    color: #3B3B3B;
    font-size: 50px;
}

.detail__text {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 25px;
}

.detail-social-share {
    margin-bottom: 67px;
}

.prop-list__item {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #F1F1F1;
    font-size: 17px;
    color: #655d5d;
    font-weight: 300;
}

.prop-list__prop {
    float: right;
    color: #566268;
    font-size: 18px;
    font-weight: 400;
}

/* Detail carousel */

.detail-carousel {
    width: 80%;
    margin: 0 auto;

    .slick-next:before,
    .slick-prev:before {
        font-family: FontAwesome;
        position: absolute;
        top: -50px;
        color: #9B9B9B;
        font-size: 100px;
    }

    .slick-next:before {
        content: '\f105';
        left: 25px;
    }

    .slick-prev:before {
        content: "\f104";
        left: -25px;
    }
}

.detail-carousel__container {
    outline: none !important;
    padding: 10px;
}





/**
***************************************************************
* =FOOTER
***************************************************************
**/

.footer {
	background: #333;
	padding-top: 35px;
}

.footer-top {
	margin-bottom: 20px;
}

.footer-logo {
	color: $white;
	font-size: 22px;
}

/* footer nav */
.footer-nav__item {
	float: left;
	margin-right: 33px;

	&:last-child {
		margin-right: 0;
		position: relative;
		padding-left: 28px;

		&:after {
			content: "\f0f4";
		    font-family: FontAwesome;
		    position: absolute;
		    top: 0;
		    left: 0;
		    color: $white;
		    font-size: 18px;
		}
	}
}

.footer-nav__link {
	color: $gray-light;
	font-size: 18px;

	&:--link-effect {
		color: $gray-light;
	}
}

.develop {
	text-align: right;

	p {
		color: $gray-light;
	}
}

.develop__link {
	text-decoration: underline;
	color: #A97B42;

	&:hover {
		color: #C69E6C;
	}
}

.copyright__text {
	color: $gray-light;
	text-align: center;
}

/**
***************************************************************
* =PAGES
***************************************************************
**/


/**
***************************************************************
* =CONTACT PAGE
***************************************************************
**/

.contact-form {
    width: 400px;
    margin-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.contact-form__btn {
    float: right;
}


/**
***************************************************************
* =PAGINATION
***************************************************************
**/
.pagination-container {
	text-align: center;
	margin-bottom: 10px;
}

.pagination {
	display: inline-block;
	margin-bottom: 20px;

	li {
		float: left;

		a,
		span {
			position: relative;
			padding: 8px 12px;
			line-height: 1.42857143;
			text-decoration: none;
			color: $black;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			margin-left: -2px;
		}
	}

	.disabled span,
	.active span {
		color: #D0D0D0;
	}
}



/**
***************************************************************
* =MEDIA QUERIES
***************************************************************
**/

@media screen and (max-width: 1200px) {
	// Recent items
	.recent__item {
		width: 30%;
	}
}

// fix hidden menu
@media screen and (min-width: 767px) {
	h3 {
		font-size: 25px;
	}

	.main-nav-container {
		position: initial;
	}
}

@media screen and (max-width: 991px) {
	// Main nav
	.main-nav-container {
		position: fixed;
		top: 0;
		right: -100%;
		height: 100%;
		// background: #333;
		background: rgba(0,0,0, .9);
		z-index: 10;
		width: 100%;
	}

	.main-nav {
		float: none;
		text-align: center;
	}

	.main-nav__item {
		float: none;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.main-nav__link {
		text-transform: uppercase;
		font-size: 35px;
		font-family: Tahoma, Arial;
	}

	/* Pages menu */
	.main-nav--pages {
		.main-nav__link {
			color: $white;
		}
	}

	.hamburger-btn {
		display: inline-block;
	}

	.main-nav__close {
		display: inline-block;
	}

	// Recent items
	.recent__item {
		width: 45%;
	}

	// footer menu
	.footer-nav__item {
		margin-right: 10px;
	}

	.footer-nav__link {
		font-size: 16px;
	}

    /* Detail page */
    .prop-list__item {
        font-size: 16px;
    }

    .prop-list__prop {
        font-size: 17px;
    }

    .detail-carousel .slick-next:before,
    .detail-carousel .slick-prev:before {
        font-size: 65px;
    }

}

@media screen and (max-width: 767px) {
	/* footer */
	.wrap {
		margin-bottom: -190px;
	}

	.footer, .wrap:after {
		height: 190px;
	}
	/* footer menu */
	.footer-menu {
		margin-bottom: 15px;
	}

    .footer-nav__item {
        margin-right: 37px;
    }

	.develop {
		float: right;
	}

    /* Detail page */
    .detail__name {
        margin-bottom: 5px;
        font-size: 40px;
    }

    .detail-social-share {
        margin-bottom: 20px;
    }

    .video {
        display: none;
    }
}

@media screen and (max-width: 681px) {
    .search {
        width: 100%;
    }
    .search__desc {
        display: none;
    }

    .search__input {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
	h3 {
		font-size: 21px;
	}

	.search {
		background: none;
		padding: 0;
	}

	// Recent items
	.recent {
		overflow: hidden; // if none recent items on main page are go out of frame
	}

	.recent__item {
		width: 100%;
	}

	.recent__link {
		display: inline-block;
		width: auto;
		overflow: hidden;
	}

	/* footer */
	.wrap {
		margin-bottom: -150px;
	}

	.footer, .wrap:after {
		height: 150px;
	}

	/* Footer menu */
	.footer-nav__link {
		font-size: 14px;
	}

    .footer-nav__item {
        margin-right: 10px;
    }

    /* Contact page */
    .contact-form,
    .contact-form__text {
        width: 100% !important;
    }
}

@media screen and (max-width: 380px) {
    // Footer
    .wrap {
        margin-bottom: -230px;
    }

    .footer, .wrap:after {
        padding-top: 15px;
        height: 230px;
    }

    .footer-nav__item {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
	body {
		width: 320px;
	}
}












