@import "reset.scss";
@import "bootstrap.scss";
@import "main.scss";

/**
***************************************************************
* =HEADER
***************************************************************
**/

body {
	font-family: $helvetica;
	background:#F4F4F4;
	color: #EAEAEA;
}

.header {
	height: 400px;
	background: url(/img/concept1.jpg) no-repeat;
}

.navbar-default {
	margin-top: 10px;
	background: none;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: $white;
	font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: $white;
	border-color: rgba(255, 255, 255, 0.33);
}

.nav>li>a {
	padding: 10px 30px 10px 0;
	border-bottom: 1px solid transparent;
	transition: border-color .5s;

}

/* Logo */

.logo {
	text-align: center;

	a {
		color: #fff;
	}
}

/* Search Form */
.search {
	width: 80%;
	margin: 0 auto;
	padding: 15px 20px;
	text-align: center;
	background: rgba(0,0,0, .6);
	border-radius: 10px;
}

.search__desc {
	margin-bottom: 15px;
	font-size: 32px;
}

.search-input-container {
	position: relative;
}

.search__input {
	width: 100%;
	height: 50px;
	padding-left: 25px;
	padding-right: 50px;
	color: #7E7E7E;
	font-size: 21px;
	outline: none;
	font-weight: 300;
	border: 1px solid #979797;

	&:focus {
		border: 1px solid #5E72EC;
	}
}

.search__submit {
	position: absolute;
	top: 6px;
	right: 5px;
	outline: none;
	color: #7E7E7E;
	background: none;
	border: none;
	font-size: 31px;
}













